<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Position</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

	<h1>Add Position</h1>

	<form action="#" th:action="@{/addposition}" th:object=${position}
		method="post">
		<p>
			Name: <input type="text" th:field="${position.name}" />
		</p>
		<p>
			<input type="submit" value="Submit" />
		</p>

	<h1>Add MoveType</h1>
				
	<form action="#" th:action="@{/addmovetype}" th:object= ${position} method="post">
	<p>Name: <input type="text" th:field="${movetype.name}" /></p>		
	<p><input type="submit" value="Submit"/></p>
	</form>
	
	<a th:href="@{/deletemove/{id}(id=${move.id})}" class="btn btn-danger">Delete</a>
			</td>
	
	<form action="#" th:action="@{/deletemovetype}" th:object= ${movetype.movetypeid} method="post">

	<label for="movetypelist">Type</label> <select id="movetypelist"
			th:field="*{movetype}" class="form-control">
	<option th:each="movetype: ${movetypes}"
				th:value="${movetype.movetypeid}" th:text="${movetype.name}"></option>
		</select> <label for="positionlist">Position</label> <select id="positionlist"
			th:field="*{position}" class="form-control">
			<option th:each="position: ${positions}"
				th:value="${position.positionid}" th:text="${position.name}">
			</option>
	</form>

</body>
</html>