<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>List of BJJ techniques</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1 th:inline="text"> Brazilian Jiu-Jitsu Techniques </h1>
	
	<!-- (String name, String videoUrl, String description, MoveType movetype, Position position)  --> 
		
		<table class="table table-striped">
		<tr> <th>Name</th> <th>Type</th> <th>In Position?</th> <th>Position</th> <th>Video URL</th> <th>Description</th> <th></th>  
		<th></th>
		</tr>
		<tr th:each="move : ${moves}">
		<td th:text="${move.name}"></td>
		<td th:text="${move.movetype}? ${move.movetype.name} : 'Unmarked'"></td>
		<td th:text="${move.inposition}"></td>
		<td th:text="${move.position}? ${move.position.name} : 'Unmarked'"></td>
		<td th:text="${move.videoUrl}"></td>
		<td th:text="${move.description}"></td>
		
		<td sec:authorize="hasAuthority('ADMIN')">
			<a th:href="@{/deletemove/{id}(id=${move.id})}" class="btn btn-danger">Delete</a>
			</td>
		<td sec:authorize="hasAuthority('ADMIN')">
			<a th:href="@{/editmove/{id}(id=${move.id})}" class="btn btn-success">Edit</a>
			</td>
		<input type="hidden" th:value="${move.id}"/>
		</tr> 
		</table>
		
		<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/addmove}" class="btn btn-success" >Add move</a>
		<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>

</body>
</html>